<h1 class="title has-text-centered">Select translation</h1>

<div class="columns">
  <div class="column is-4 is-offset-2 word-info">
    <h2 class="is-size-3">Word:&nbsp;<span class="has-text-weight-bold"><%= @word.en %></span></h2>
    <p>Popularity: <%= @word.popularity %></p>
    <% if @recently_failed %>
      <hr>
      <p><span class="has-text-danger has-text-weight-bold">Recently failed:</span> <%= friendly_date(@failure.date) %></p>
      <p><%= render partial: 'shared/stats', locals: { s_count: @word.success, f_count: @word.failures } %></p>
    <% end %>
  </div>
  <div class="column is-4">
    <div class="menu">
      <p class="menu-label">
        Answers
      </p>
      <ul class="menu-list">
        <% @answers.each do |answer| %>
          <li><%= link_to answer[:ru], trainer_check_path(word_id: @word.id, answer_id: answer[:id]) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
